<!DOCTYPE html>
<html>
<head>
  <title>DesignArtifact</title>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
<%= yield %>
</div>
<footer>
    <span class="photo">&copy;</span>
    <%= image_tag 'http://31.media.tumblr.com/7a626ecb9d9f8d4e4c85c91d88a88816/tumblr_n6wj1j7jwq1qz52i4o1_100.png', class: 'photo' %>
</footer>
</body>
</html>
